/* Estilos base que se aplicarán a pantallas grandes */
.datosCompra {
    display: flex;
    align-items: center;
    font-size: 10pt;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.datosCompra {
    display: flex;
    align-items: center;
    font-size: 10pt;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.datosCompra input, .datosCompra select {
    margin-left: 20px;
    font-size: 10pt;
}

.datosCompra p {
    margin-bottom: 0px;
    margin-left: 20px;
}

.cantidad * {
    display: inline;
}

#totalCantidad {
    text-align: center;
}

form .d-flex {
    width: 175px;
}

.tituloBusqueda {
    font-size: 40px;
}

#campoBusqueda {
    width: 20%;
}

.alert-success {
    max-width: 170px;
    font-size: 12pt;
    display: none;
    position: absolute; 

}

#mensajeProdAgregado {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 300px;
    max-height: 60px;
}

#mensajeProdEliminado {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 300px;
    max-height: 60px;
}

#mensajeListaVaciada {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 100px;
    max-height: 60px;
}

.encabezados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.encabezados article, .datos article {
    margin-left: 150px;
}

.datos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


#tasaDolar, #tasaDolarOficial {
    font-weight: bold;
}

#fechaDeCompra {
    max-width: 150px;
}

#listaCompras, .datosCompra {
    vertical-align: middle;
}

.app {
    padding: 0;
}

@media (max-width: 768px) {
    .datosCompra {
        flex-direction: column;
        display: block;
    }

    .datosCompra input,
    .datosCompra select {
        margin: 50px 0;
    }

    #campoBusqueda {
        width: 100%;
    }
}

#cantidad {
    display: inline-flex;
    width: 40px;
    margin: 0;
    justify-content: center;
}